# =============================
#   PROJECT-WIDE SETTINGS
# =============================
[common]
#input_dir = "/scratch/lhashimoto/nemo_database/imaging_data"
#derivatives = "/scratch/lhashimoto/nemo_derivatives"
#subjects = ["1054003"]
#sessions = ["01"]
#freesurfer_license = "/scratch/lhashimoto/freesurfer/license"
#python_env = "/scratch/lhashimoto/python/env/nemo"
#account = ""
#email = ""
#email_frequency = "FAIL" # BEGIN,END
#tmp = ["1054001","1054002","1054003","1054004","1054010"]

input_dir = "/scratch/hrasoanandrianina/braint_database"  # "/scratch/lhashimoto/nemo_database/imaging_data"
derivatives = "/scratch/lhashimoto/braint_derivatives"  # ""/scratch/lhashimoto/nemo_derivatives"
subjects = ["003"]
sessions = ["01"] #, "02"]
freesurfer_license = "/scratch/lhashimoto/freesurfer/license"
python_env = "/scratch/lhashimoto/python/env/nemo"
account = ""
email = ""
email_frequency = "FAIL" # BEGIN,END
tmp = ["1054001","1054002","1054003","1054004","1054010"]

# =============================
#   WORKFLOW SETTINGS
# =============================
[workflow]
run_freesurfer = false
run_qsiprep = false
run_qsirecon = false
run_fmriprep = false
run_xcp_d = true
run_mriqc_raw = false
run_freesurfer_qc = false
run_qsiprep_qc = false
run_qsirecon_qc = false
run_fmriprep_qc = false
run_xcpd_qc = false

# =============================
#   PIPELINE: FreeSurfer
# =============================
[freesurfer]
freesurfer_container = "/scratch/lhashimoto/freesurfer-7.4.1.sif"
skip_processed = true
use_t2 = true
partition = "skylake"
requested_mem = "16G"
requested_time = "9:00:00"

# =============================
#   PIPELINE: FreeSurfer QC
# =============================
[fsqc]
fsqc_container = "/scratch/lhashimoto/fsqc-2.1.4.sif"
partition = "skylake"
requested_mem = 16
requested_time = "0:30:00"
qc_screenshots = true
qc_surfaces = true
qc_skullstrip = true
qc_fornix = true
qc_hypothalamus = false
qc_hippocampus = false
qc_hippocampus_label = ""
qc_outlier = false  # true to get non-ETIV-normalized outliers
qc_skip_existing = true

# =============================
#   PIPELINE: QSIPrep
# =============================
[qsiprep]
qsiprep_container = "/scratch/lhashimoto/qsiprep-1.0.2.sif"
config_eddy = "/scratch/lhashimoto/code/nemo/config/eddy_params.json"
qsiprep_config = "/scratch/lhashimoto/code/nemo/config/qsiprep_config.toml"
output_resolution = 1.8
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"

# =============================
#   PIPELINE: QSIRecon
# =============================
[qsirecon]
qsirecon_container = "/scratch/lhashimoto/qsirecon-1.1.1.sif"
qsirecon_config = "/scratch/lhashimoto/code/nemo/config/qsirecon_config.toml"
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"
atlases = ["4S156Parcels"] #, "4S356Parcels"]

# =============================
#   PIPELINE: fMRIPrep
# =============================
[fmriprep]
fmriprep_container = "/scratch/lhashimoto/fmriprep-25.2.2.sif"
fmriprep_config = "/scratch/lhashimoto/code/nemo/config/fmriprep_config.toml"
bids_filter_dir = "/scratch/lhashimoto/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "12:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: XCP-D
# =============================
[xcpd]
xcpd_container = "/scratch/lhashimoto/xcpd-0.12.0.sif"
xcpd_config = "/scratch/lhashimoto/code/nemo/config/xcpd_config.toml"
bids_filter_dir = "/scratch/lhashimoto/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "8:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: MRIQC
# =============================
[mriqc]
mriqc_container = "/scratch/lhashimoto/mriqc-24.0.2.sif"
mriqc_config = "/scratch/lhashimoto/code/nemo/config/mriqc_config.toml"
bids_filter_dir = "/scratch/lhashimoto/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "3:00:00"
