# =============================
#   PROJECT-WIDE SETTINGS
# =============================
# todo: check requested mem G or gb ? +change in all scripts
[common]
account = ""
email = ""
email_frequency = "FAIL"
input_dir = "/scratch/hrasoanandrianina/braint_database"
derivatives = "/scratch/hrasoanandrianina/derivatives"
subjects = [""]
sessions = [""]
freesurfer_license = "/scratch/hrasoanandrianina/containers/license.txt"


# =============================
#   WORKFLOW SETTINGS
# =============================
[workflow]
run_freesurfer = false
run_freesurfer_qc = true
run_qsiprep = false
run_qsirecon = false
run_fmriprep = true
run_xcp_d = true
run_mriqc_raw = true
run_mriqc_derivatives = true
run_mriqc_group = true

# =============================
#   PIPELINE: FreeSurfer
# =============================
[freesurfer]
freesurfer_container = "/scratch/lhashimoto/freesurfer-7.4.1.sif"
skip_processed = true
use_t2 = true
partition = "skylake"
requested_mem = "16G"
requested_time = "9:00:00"
qc = "/scratch/lhashimoto/nemo_database_derivatives/freesurfer/qc"

# =============================
#   PIPELINE: FreeSurfer
# =============================
[fsqc]
fsqc_container = "/scratch/lhashimoto/fsqc-2.1.4.sif"
partition = "skylake"
requested_mem = 16
requested_time = 1
qc_screenshots = true
qc_surfaces = true
qc_skullstrip = true
qc_fornix = true
qc_hypothalamus = false
qc_hippocampus = false
qc_hippocampus_label = ""
qc_outlier = false
qc_skip_existing = true

# =============================
#   PIPELINE: QSIPrep
# =============================
[qsiprep]
qsiprep_container = "/scratch/lhashimoto/qsiprep-1.0.2.sif"
config_eddy = "/scratch/lhashimoto/code/nemo/config/eddy_params.json"
qsiprep_config = "/scratch/lhashimoto/code/nemo/config_files/qsiprep_config.toml"
output_resolution = 1.8
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"
qc = "/scratch/lhashimoto/nemo_database_derivatives/qsiprep/qc"

# =============================
#   PIPELINE: QSIRecon
# =============================
[qsirecon]
qsirecon_container = "/scratch/lhashimoto/qsirecon-1.1.1.sif"
qsirecon_config = "/scratch/lhashimoto/code/nemo/config_files/qsirecon_config.toml"
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"
qc = "/scratch/lhashimoto/nemo_database_derivatives/qsirecon/qc"

# =============================
#   PIPELINE: fMRIPrep
# =============================
[fmriprep]
fmriprep_container = "/scratch/hrasoanandrianina/containers/fmriprep_25.2.1.sif"
fmriprep_config = "/scratch/hrasoanandrianina/code/nemo/config_files/fmriprep_config.toml"
bids_filter_dir = "/scratch/hrasoanandrianina/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "12:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: XCP-D
# =============================
[xcp_d]
xcp_d_input_dir = "/scratch/hrasoanandrianina/derivatives/fmriprep"
xcp_d_container = "/scratch/hrasoanandrianina/containers/xcp_d_0.12.0.sif"
xcp_d_config = "/scratch/hrasoanandrianina/code/nemo/config_files/xcp_d_surf_config.toml"
bids_filter_dir = "/scratch/hrasoanandrianina/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "12:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: MRIQC
# =============================
[mriqc]
mriqc_container = "/scratch/hrasoanandrianina/containers/mriqc_24.0.2.sif"
mriqc_config = "/scratch/hrasoanandrianina/code/nemo/config_files/mriqc_config.toml"
bids_filter_dir = "/scratch/hrasoanandrianina/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "6:00:00"
