# =============================
#   PROJECT-WIDE SETTINGS
# =============================
# todo: check requested mem G or gb ? +change in all scripts
[common]
input_dir = "/scratch/hrasoanandrianina/braint_database"
derivatives = "/scratch/hrasoanandrianina/derivatives"
subjects = ""
sessions = ""
freesurfer_license = "/scratch/hrasoanandrianina/containers/license.txt"
account = ""
email = ""
email_frequency = "FAIL"

# =============================
#   WORKFLOW SETTINGS
# =============================
[workflow]
run_freesurfer = false
run_qsiprep = false
run_qsirecon = false
run_fmriprep = false
run_xcp_d = false
run_mriqc_raw = true
run_freesurfer_qc = false
run_qsiprep_qc = false
run_qsirecon_qc = false
run_fmriprep_qc = false
run_xcpd_qc = false

# =============================
#   PIPELINE: FreeSurfer
# =============================
[freesurfer]
freesurfer_container = "/scratch/lhashimoto/freesurfer-7.4.1.sif"
skip_processed = true
use_t2 = true
partition = "skylake"
requested_mem = "16G"
requested_time = "9:00:00"

# =============================
#   PIPELINE: FSQC
# =============================
[fsqc]
fsqc_container = "/scratch/lhashimoto/fsqc-2.1.4.sif"
partition = "skylake"
requested_mem = 16
requested_time = "0:30:00"
qc_screenshots = true
qc_surfaces = true
qc_skullstrip = true
qc_fornix = true
qc_hypothalamus = false
qc_hippocampus = false
qc_hippocampus_label = ""
qc_outlier = false
qc_skip_existing = true

# =============================
#   PIPELINE: QSIPrep
# =============================
[qsiprep]
qsiprep_container = "/scratch/lhashimoto/qsiprep-1.0.2.sif"
config_eddy = "/scratch/lhashimoto/code/nemo/config/eddy_params.json"
qsiprep_config = "/scratch/lhashimoto/code/nemo/config_files/qsiprep_config.toml"
output_resolution = 1.8
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"

# =============================
#   PIPELINE: QSIRecon
# =============================
[qsirecon]
qsirecon_container = "/scratch/lhashimoto/qsirecon-1.1.1.sif"
qsirecon_config = "/scratch/lhashimoto/code/nemo/config_files/qsirecon_config.toml"
partition = "kepler"
gpu_per_node = 2
requested_mem = "70G"
requested_time = "24:00:00"

# =============================
#   PIPELINE: fMRIPrep
# =============================
[fmriprep]
fmriprep_container = "/scratch/hrasoanandrianina/containers/fmriprep_25.2.1.sif"
fmriprep_config = "/scratch/hrasoanandrianina/code/nemo/config_files/fmriprep_config.toml"
bids_filter_dir = "/scratch/hrasoanandrianina/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "12:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: XCP-D
# =============================
[xcp_d]
xcp_d_input_dir = "/scratch/hrasoanandrianina/derivatives/fmriprep/outputs"
xcp_d_container = "/scratch/hrasoanandrianina/containers/xcp_d_0.12.0.sif"
xcp_d_config = "/scratch/hrasoanandrianina/code/nemo/config_files/xcp_d_surf_config.toml"
bids_filter_dir = "/scratch/hrasoanandrianina/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "8:00:00"
reserved_cpus = 8
omp_threads = 4

# =============================
#   PIPELINE: MRIQC
# =============================
[mriqc]
mriqc_container = "/scratch/lhashimoto/mriqc_24.0.2.sif"
mriqc_config = "/scratch/lhashimoto/code/nemo/config_files/mriqc_config.toml"
bids_filter_dir = "/scratch/lhashimoto/code/nemo/rsfmri/bids_filters"
partition = "skylake"
requested_mem = "64G"
requested_time = "3:00:00"
